<h1>Changes</h1>

<p class='changes_feed'><%= link_to 'Changes feed', changes_path(:format => 'atom') %></p>

<p>
  Show:
  <%= ([link_to('All', changes_path)] + change_item_types.map { |type| link_to(type.pluralize, changes_path(:type => type)) }).join(' | ').html_safe %>
</p>

<table id='changes_table' class='changes_table table table-striped table-condensed dataTable' data-source="<%= changes_url(format: 'json', protocol: protocol) %>">
  <thead>
    <tr class='changes_header'>
      <th class='change_time'>Time</th>
      <th class='change_details'>Attribute with previous and current values</th>
      <th class='change_rollback'>Action</th>
    </tr>
  </thead>
</table>

