<h1>Changes</h1>

<h3>Filters</h3>
<div class="row filters">
  <div class="col-md-3">
    <strong>Categories</strong>
    <%= select_tag :change_model, change_item_types.map { |type| "<option>#{type.pluralize}</option>" }.join(''), include_blank: true, class: 'form-control' %>
  </div>
  <div class="col-md-3">
    <strong>Actions</strong>
    <select id='change_action' name='change_action' class='form-control'><option>create</option><option>update</option><option>destroy</option></select>
  </div>
  <div class="col-md-3">
    <strong>Users</strong>
    <%= select_tag :change_user, User.all.map { |user| "<option value='#{user.id}'>#{user.name}</option>" }.join(''), include_blank: true, class: 'form-control' %>
  </div>
  <div class="col-md-3">
    <strong>Date Range</strong>
    <input type='text' id='change_date' name='change_date' class='form-control'/>
  </div>
</div>

<table id='changes_table' class='changes_table table table-striped table-condensed dataTable' data-source="<%= changes_url(format: 'json', protocol: protocol) %>">
  <thead>
    <tr class='changes_header'>
      <th class='change_time'>Time</th>
      <th class='change_models'></th>
      <th class='change_actions'></th>
      <th class='change_users'></th>
      <th class='change_date'></th>
      <th class='change_details'>Attribute with previous and current values</th>
      <th class='change_rollback'>Action</th>
    </tr>
  </thead>
</table>

